{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>Liste des annonces</h2>
    {% if listAdverts|length > 0 %}
    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {{ advert.titre }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>
        {% if pages > 1 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item {% if currentPage == 1 %}disable{% endif %}">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% for page in 1..pages%}
                        <li class="page-item {% if currentPage == page %}active{% endif %}"><a class="page-link" href="{{ path('oc_platform_home', {'page': page}) }}">{{ page }}</a></li>
                    {% endfor %}

                    <li class="page-item {% if currentPage == pages %}disable{% endif %}">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <h6>
            sorry, no data avaiable.
        </h6>
    {% endif %}
{% endblock %}